<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookers</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  </head> 

  <body>
      <nav class="navbar navbar-main navbar-shadow navbar-inverse" role="navigation" id="slide-nav">
        <div class="container relative">
          <div class="navbar-header">
            <h1 class="navbar-logo" href="/">
              <strong id="white">Bookers</strong>
            </h1>
   
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="slidemenu">
            <ul class="nav navbar-nav navbar-right">
  	      	  <% if user_signed_in? %>
              	<li>
                  <%= link_to user_path(current_user) do %>
                    <span class="glyphicon glyphicon-home home">Home<span>
                  <% end %>
                </li>

                <li>
                  <%= link_to "/users" do %>
                    <span class="glyphicon glyphicon-user users">Users<span>
                  <% end %>
                </li>

                <li>
                  <%= link_to books_path do %>
                    <span class="glyphicon glyphicon-book books">Books<span>
                  <% end %>
                </li>

                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete">logout<span>
                  <% end %>
                </li>

              <% else %>
                <li>

                <li>
                  <%=  link_to root_path do %>
                    <span class="glyphicon glyphicon-home home">Home<span>
                  <% end %>
                </li>

                <li>
                  <%=  link_to home_about_path do %>
                    <span class="glyphicon glyphicon-link about">About<span>
                  <% end %>
                </li>

                <li>
                  <%=  link_to "/users/sign_up" do %>
                    <span class="glyphicon glyphicon-link about">sign up<span>
                  <% end %>
                </li>

                <li>
                  <%=  link_to "/users/sign_in" do %>
                    <span class="glyphicon glyphicon-log-in sign_in">login<span>
                  <% end %>
                </li>

              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
    <%= yield %>


    <footer class="">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
